<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paintingsonline">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".NotificationSystem"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ArtistPanel.ArtistBio"></activity>
        <activity android:name=".ArtistPanel.EditDeletePaintings" />
        <activity android:name=".ArtistPanel.ModifyPaintings" />
        <activity android:name=".ArtistPanel.SellingPanel" />
        <activity android:name=".Login.forget_password" />
        <activity android:name=".Category.PaintingsDetails" />
        <activity android:name=".Favourite.FavouritePainting" />
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Registration.RegistrationActivity" />
        <activity android:name=".Category.CartActivity" />
        <activity android:name=".Category.PaintingActivity" />
        <activity android:name=".Order.OrderActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Add.AddActivity" />
        <activity android:name=".Category.CategoryActivity" />
        <activity android:name=".Home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>